.vs
src/AzureSecretCheck/bin
src/AzureSecretCheck/obj
test/Terminal/.vs
test/Terminal/bin
test/Terminal/obj
src/AzureSecretCheck/.DS_Store
.DS_Store
src/AzureSecretCheck/artifacts/
test/Terminal/obj
src/AzureSecretCheck/bin/Debug/net7.0/AzureSecretCheck.dll
src/AzureSecretCheck/bin/Debug/net7.0/AzureSecretCheck.pdb
src/AzureSecretCheck/obj/AzureSecretCheck.csproj.nuget.dgspec.json
src/AzureSecretCheck/obj/project.assets.json
src/AzureSecretCheck/obj/project.nuget.cache
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.assets.cache
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.csproj.FileListAbsolute.txt
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.dll
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.GeneratedMSBuildEditorConfig.editorconfig
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.pdb
src/AzureSecretCheck/obj/Debug/net7.0/AzureSecretCheck.sourcelink.json
test/Terminal/bin/Debug/net8.0/AzureSecretCheck.dll
test/Terminal/bin/Debug/net8.0/AzureSecretCheck.pdb
test/Terminal/bin/Debug/net8.0/Terminal.deps.json
test/Terminal/bin/Debug/net8.0/Terminal.dll
test/Terminal/bin/Debug/net8.0/Terminal.pdb
test/Terminal/obj/project.assets.json
test/Terminal/obj/project.nuget.cache
test/Terminal/obj/Terminal.csproj.nuget.dgspec.json
test/Terminal/obj/Debug/net8.0/Terminal.AssemblyInfo.cs
test/Terminal/obj/Debug/net8.0/Terminal.AssemblyInfoInputs.cache
test/Terminal/obj/Debug/net8.0/Terminal.assets.cache
test/Terminal/obj/Debug/net8.0/Terminal.csproj.AssemblyReference.cache
test/Terminal/obj/Debug/net8.0/Terminal.csproj.CoreCompileInputs.cache
test/Terminal/obj/Debug/net8.0/Terminal.csproj.FileListAbsolute.txt
test/Terminal/obj/Debug/net8.0/Terminal.dll
test/Terminal/obj/Debug/net8.0/Terminal.GeneratedMSBuildEditorConfig.editorconfig
test/Terminal/obj/Debug/net8.0/Terminal.genruntimeconfig.cache
test/Terminal/obj/Debug/net8.0/Terminal.pdb
test/Terminal/obj/Debug/net8.0/Terminal.sourcelink.json
test/Terminal/obj/Debug/net8.0/ref/Terminal.dll
test/Terminal/obj/Debug/net8.0/refint/Terminal.dll
